[flake8]
max-line-length = 99
extend_ignore = 
    E203,
    # Allow * imports to be used in the module level
    F403,
    F405,
    # Allow line break before binary operator
    W503,
exclude =
    examples/*
